pkgbase = hlib-git
	pkgdesc = My local H library view/search app
	pkgver = r58.e947b6f
	pkgrel = 1
	url = https://github.com/nisemono0/HLib
	arch = x86_64
	license = MIT
	makedepends = make
	makedepends = qt5-base
	depends = qt5-base
	depends = quazip-qt5
	depends = sqlite
	provides = hlib-git
	conflicts = hlib-git
	source = git+https://github.com/nisemono0/HLib
	sha256sums = SKIP

pkgname = hlib-git
