pkgbase = overmix-git
	pkgdesc = Automatic anime screenshot stitching in high quality
	pkgver = r860.f5fa335
	pkgrel = 1
	url = https://github.com/spillerrec/Overmix
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = boost
	makedepends = png++
	depends = qt5-base
	depends = qt5-x11extras
	depends = ffmpeg
	depends = zlib
	depends = xz
	depends = libpng
	depends = libjpeg
	depends = libraw
	depends = fftw
	depends = pugixml
	depends = lcms2
	depends = eigen
	depends = qcustomplot
	depends = libxcb
	provides = overmix
	conflicts = overmix
	source = git+https://github.com/spillerrec/Overmix
	source = overmix.desktop
	sha256sums = SKIP
	sha256sums = e9e71bf5523fb4acfd7e01d0db90f42626ed9cd7fb20f57efa8fe40a69639627

pkgname = overmix-git
